<%- include('partials/header') %>
<div id="container">
  <header>
    <h1>Bienvenue sur le Game Center Mimir</h1>
  </header>
  <main>
    <h2>A quoi desirez vous jouer?</h2>
    <ol>
      <li><a href="/games/des"> Jeu de dès </a></li>
      <li><a href="/games/fourchette"> La fourchette </a></li>
    </ol>
  </main>
</div>
<%- include('partials/footer') %>
